#navList{
  float: left;
  padding: 10px;
  margin-top: 200px;

}

#menuBtn{

  border:solid 3px teal;
  width: 55px;
  height: 55px;
  background-color: rgba(0,0,0,0.2);
  padding-top: 8px;
  color: snow;
  font-size: 25px;

  /*position*/
  position: fixed;
  right: 15px;
  top: 15px;
}
nav{
}
ul{
  padding-left: 0px;
}
li{

  list-style: none;
  font-size: 16px;
  font-family: Georgia,"Times New Roman", serif;

  text-align: right;

  display: block;
  margin-bottom: 10px;
  padding: 5px 100px;
  position: relative;
  background-color: rgba(0,0,0,0.25);
  color: snow;
  font-weight: bold;

  /*borders*/
  border: solid 2px teal;
  border-radius: 20px;


}
#one{
  left: -110px;
}
#two{
  left: -60px;
}
#three{
  left: -30px;
}
#four{
  left: -85px;
}
